@model MtgLife.Website.Models.PlayerViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Playing Game...</title>

</head>
<body>
    <div class="alert alert-warning" role="alert"><strong>Game:</strong> @Model.GameId</div>

    <div style="padding:4px;">
        <div class="btn-group" role="group" id="playersInGame">
            <button type="button" class="btn btn-default" id="player1">@Model.PlayerName</button>
        </div>
    </div>

    <div style="padding:4px;">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default active" id="life">Life</button>
            <button type="button" class="btn btn-default" id="poison">Poison</button>
            <button type="button" class="btn btn-default" id="player">Commander from Player 2</button>
            <button type="button" class="btn btn-default" id="player">Commander from Player 3</button>
        </div>
    </div>

    <div style="padding:4px;">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" id="minus">-</button>
            <button type="button" class="btn btn-default" id="total">@Model.LifeTotal</button>
            <button type="button" class="btn btn-default" id="plus">+</button>
        </div>
    </div>

    <input type="hidden" id="gameId" value="@Model.GameId">
    <input type="hidden" id="playerId" value="@Model.PlayerId">

    <script>
        $("#plus").click(function () {
            var total = parseInt($("#total").text());
            var newAmount = total + 1;
            $("#total").text(newAmount);
            ChangeTotal(newAmount);
        });
        $("#minus").click(function () {
            var total = parseInt($("#total").text());
            var newAmount = total - 1;
            if (newAmount > 0) {
                $("#total").text(newAmount);
                ChangeTotal(newAmount);
            }
        });

        function ChangeTotal(newAmount) {
            var playerId = $("#playerId").val();

            var dataToPost = {
                PlayerId: playerId,
                NewAmount: newAmount
            };

            $.ajax({
                type: "POST",
                data: JSON.stringify(dataToPost),
                url: "/Player/ChangeTotal",
                contentType: 'application/json; charset=utf-8'
            });
        }

        function RefreshPlayers() {
            var gameId = $("#gameId").val();

            var dataToPost = {
                GameId: gameId
            };

            $.ajax({
                type: "POST",
                data: JSON.stringify(dataToPost),
                url: "/Player/RefreshPlayers",
                contentType: 'application/json; charset=utf-8'
            }).done(function (players) {
                $("#playersInGame").empty();
                $.each(players, function (i, player) {
                    console.log(player);
                    console.log(i);
                    //$("#playersInGame").append("<button type='button' class='btn btn-default' id='player" + playerJson.PlayerId + "'>" + playerJson.PlayerName + "</button>")
                });
            });

        }

    </script>

</body>
</html>