@model MtgLife.Website.Models.GameViewModel
@{
    ViewBag.Title = "MTG Life";
}
<script>
    $(function () {
        $("button[name='selectGame']").click(function () {
            $("button[name='selectGame']").removeClass("active");
            console.log($(this));
            $(this).addClass("active");
            RefreshUI();
        });
        RefreshUI();
    });

    function RefreshUI() {
        if ($("#createGame").hasClass('active')) {
            $("#startingLifeTotalsDiv").show();
            $("#gameIdDiv").hide();
        }
        else {
            $("#startingLifeTotalsDiv").hide();
            $("#gameIdDiv").show();
        }
    }
</script>
<div class="container">
    @using (Html.BeginForm())
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default active" name="selectGame" id="createGame">Create game</button>
                    <button type="button" class="btn btn-default" name="selectGame" id="joinGame">Join game</button>
                </div>
            </div>
            <div class="panel-body">
                <div id="startingLifeTotalsDiv">
                    <div>
                        <label>Starting Life Total</label>
                    </div>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default">
                            @Html.RadioButtonFor(m => m.StartingLifeTotal, "20", new { id = "option20" }) 20
                        </label>
                        <label class="btn btn-default">
                            @Html.RadioButtonFor(m => m.StartingLifeTotal, "30", new { id = "option30" }) 30
                        </label>
                        <label class="btn btn-default active">
                            @Html.RadioButtonFor(m => m.StartingLifeTotal, "40", new { id = "option40", @checked = "true" }) 40
                        </label>
                    </div>
                </div>
                <div class="form-group" id="gameIdDiv" style="display:none;">
                    <label>What is the Game Id?</label>
                    @Html.TextBoxFor(m => m.GameId, new { id = "gameId", @class = "form-control", @placeholder = "Game Id", style = "width:250px;" })
                </div>
                <div class="form-group" id="playerNameDiv">
                    <label>What is your name?</label>
                    @Html.TextBoxFor(m => m.PlayerName, new { id = "playerName", @class = "form-control", @placeholder = "Name", style = "width:250px;" })
                </div>
                <p>
                    <input class="btn btn-primary" name="submitButton" type="submit" value="Create game" />
                </p>
            </div>
        </div>

    }
</div>
